/* @import url(bootstrap.min.css);
@import url(font-awesome.min.css);
@import url(preloader.css);
@import url(flaticon.css); */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
a,
a:focus {
	text-decoration: none
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif
}
body,
html {
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	background-color: #f0f2f5
}
body {
	font-weight: 400;
	color: #000;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100%;
	height: 100vh
}
ul {
	padding: 0;
	margin: 0;
	list-style: none
}
a:focus {
	outline: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #00AFF5 !important;
}
a,
a:focus,
a:hover {
	color: #00AFF5
}
.btn-primary {
	border-color: #00AFF5!important;
    background: linear-gradient(45deg, #00AFF5, #337ab7);
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #054752;
	border-color: #054752
}
.brand-logo {
	margin: 35px auto
}
.authfy-panel-left {
	background-color: #fff;
	height: 100vh
}
.authfy-panel-right {
	background-color: rgb(45, 56, 94, .9);
	color: #fff;
	height: 100vh
}
.authfy-panel-right .hero-heading .headline h1,
.authfy-panel-right .hero-heading .headline h2,
.authfy-panel-right .hero-heading .headline h3 {
	color: #fff!important;
	font-size: 48px;
	font-weight: 700;
	text-shadow: 0px 0px 8px #000;
}
.authfy-login {
	position: relative;
	top: 0;
	left: 0;
}
.authfy-login.inner-page{
	position: initial!important;
}
.inner-page .authfy-panel{
	padding-top: 60px;
	/*position: relative!important;*/
	float: left;
	padding-bottom: 40px;
	  padding-left: 20px;
    padding-right: 20px;
}
.authfy-panel {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/*height: 100%;*/
	transition: all .5s ease;
	opacity: 0;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%)
}
.authfy-panel .panel{
	border:none!important;
}
.authfy-panel .authfy-heading {
	margin-bottom: 30px
}
.authfy-login .auth-title {
	font-weight: 700;
	margin-top: 0
}
.authfy-login .authfy-panel.active {
	opacity: 1;
	transform: translateX(0);
	-webkit-transform: translateX(0)
}
.authfy-login .social-buttons a {
	color: #fff
}
.authfy-login .social-buttons a:hover {
	color: #fff;
	opacity: .9
}
.authfy-login .social-buttons .btn-facebook {
	background: #3b5998
}
.authfy-login .social-buttons .btn-twitter {
	background: #00aced
}
.authfy-login .social-buttons .btn-google {
	background: #c32f10
}
.authfy-login .loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: .5em;
	padding-bottom: .5em
}
.authfy-login .loginOr .spanOr {
	width: 100%;
	display: block;
	text-align: center;
	position: relative;
	overflow: hidden
}
.authfy-login .loginOr .spanOr:after,
.authfy-login .loginOr .spanOr:before {
	content: "";
	background-color: #ddd;
	width: 55%;
	height: 1px;
	position: absolute;
	top: 19px
}
.authfy-login .loginOr .spanOr:before {
	left: -50px
}
.authfy-login .loginOr .spanOr:after {
	right: -50px
}
.panel-login .remember-row {
	margin-bottom: 10px
}
.panel-login .remember-row label {
	font-weight: 400;
	position: relative;
	cursor: pointer;
	color: #666;
	padding-left: 24px
}
.authfy-login .forgotPwd {
	text-align: left;
}
.panel-forgot .form-control,
.panel-login .form-control,
.panel-signup .form-control {
	background-color: #fff;
	color: #333;
	font-size: 16px;
	height: 50px;
	margin-bottom: 20px;
	padding: 12px 22px;
	border-radius: .3125rem;
	box-shadow: none;
	border: 1px solid #d5dae2;
	outline: 0;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.authfy-panel.panel-forgot {
	padding-top: 40px
}
.panel-forgot .form-control:focus,
.panel-login .form-control:focus,
.panel-signup .form-control:focus {
	z-index: 2;
	outline: 0;
	box-shadow: 0 0 10px rgba(76,175,80,.1);
    border-color: #00AFF5;
}
.pwdMask {
	position: relative
}
.pwdMask .pwd-toggle {
	color: #ccc;
	position: absolute;
	z-index: 2
}
.pwdMask .pwd-toggle{
	top: 15px;
	right: 15px
}
.pwdMask .pwd-toggle:focus,
.pwdMask .pwd-toggle:hover {
	cursor: pointer
}
.pwdMask .pwd-toggle.fa-eye,
.pwdMask .pwd-toggle:focus,
.pwdMask .pwd-toggle:hover {
	color: #00AFF5
}
.panel-signup .term-policy a {
	text-decoration: underline
}
.authfy-panel-right .hero-heading {
	display: table;
	height: 100vh;
	width: 100%;
	text-align: center
}
.authfy-panel-right .hero-heading .headline {
	display: table-cell;
	vertical-align: middle
}
/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.checkbox input[type=checkbox] {
	position: absolute;
	opacity: 1;
	z-index: 1;
	cursor: pointer
}
.checkbox input[type=checkbox]+.label-text:after,
.checkbox input[type=checkbox]+.label-text:before {
	font-size: 11px;
	display: inline-block;
	width: 17px;
	height: 17px;
	padding: 2px;
	margin-left: 0;
	position: absolute;
	top: 2px;
	left: 0
}
.checkbox input[type=checkbox]+.label-text:before {
	content: "";
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 3px;
	cursor: pointer;
	transition: border .15s ease-in-out, color .15s ease-in-out
}
.checkbox input[type=checkbox]+.label-text:after {
	background-color: #00AFF5;
	color: #fff;
	border-radius: 2px;
	border-color: #00AFF5;
	line-height: 1.4
}
.checkbox input[type=checkbox]:focus+.label-text:before {
	outline: dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px
}
.checkbox input[type=checkbox]:checked+.label-text:after {
	font-family: FontAwesome;
	content: "\f00c"
}
@media (min-width: 812px) {
	.authfy-panel-left {
		height: 100%
	}
}
@media (min-width: 834px) {
	.authfy-panel-left {
		height: 100vh
	}
}
@media (min-width: 846px) {
	.authfy-panel-left {
		height: 100%
	}
}
@media (min-width: 849px) {
	.authfy-panel-left {
		height: 100vh;
		overflow-x: hidden;
	}
}
@media (min-width: 896px) and (max-width: 960px) {
	.authfy-panel-left {
		height: auto
	}
}
@media (min-width: 601px) and (max-width: 767px) {
	.authfy-panel-left {
		height: auto
	}
}
@media (min-width: 320px) and (max-width: 600px) {
	.authfy-panel-left {
		height: 100vh;
		overflow-x: hidden;
		background-color: #fff;
	}
}
@media (min-width: 320px) and (max-width: 767px) {
	.authfy-login {
		height: 540px
	}
	/*.authfy-panel {
		padding: 0 20px
	}*/
}
@media screen and (min-width: 533px) and (max-width: 568px) {
	.authfy-panel-left {
		height: 100%
	}
}
@media (max-width: 320px) {
	.authfy-panel-left {
		height: 100%
	}
	.remember-row .col-sm-6 {
		width: 100%
	}
	.authfy-login .forgotPwd {
		text-align: left;
		margin-top: 0
	}
}
.back-arrow{
	font-size: 20px;
    color: #34bc9b;
    margin-right: 8px;
}
.middle input[type="radio"] {
  display: none;
}
.middle input[type="radio"]:checked + .box {
  background-color: #00AFF5;
}
.middle input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(70px);
}
.middle input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.middle .box {
  padding: 2px 36px!important;
  font-size: 10px !important;
  border: solid 1px #eee;
  background-color: #fff;
  border-radius: 50px;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
}
label {
	font-weight: normal!important;
}
.middle .box:active {
  transform: translateY(10px);
}
.middle .box span {
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
.carousel-control.left,.carousel-control.right{
	background-image: none!important;
}
.carousel-control{
	width: auto;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
	margin: 0;
	font-size: 22px!important;
	text-shadow: 0px 0px 8px #000;
}

.stepper .nav-tabs {
  position: relative;
}
.stepper .nav-tabs > li {
  width: 25%;
  position: relative;
}
.stepper .nav-tabs > li:after {
  content: '';
  position: absolute;
  background: #f1f1f1;
  display: block;
  width: 100%;
  height: 5px;
  top: 30px;
  left: 50%;
  z-index: 1;
}
.stepper .nav-tabs > li.completed::after {
  background: #34bc9b;
}
.stepper .nav-tabs > li:last-child::after {
  background: transparent;
}
.stepper .nav-tabs > li.active:last-child .round-tab {
  background: #34bc9b;
}
.stepper .nav-tabs > li.active:last-child .round-tab::after {
  content: '✔';
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  display: block;
}
.stepper .nav-tabs [data-toggle='tab'] {
  width: 25px;
  height: 25px;
  margin: 20px auto;
  border-radius: 100%;
  border: none;
  padding: 0;
  color: #f1f1f1;
}
.stepper .nav-tabs [data-toggle='tab']:hover {
  background: transparent;
  border: none;
}
.stepper .nav-tabs > .active > [data-toggle='tab'], .stepper .nav-tabs > .active > [data-toggle='tab']:hover, .stepper .nav-tabs > .active > [data-toggle='tab']:focus {
  color: #34bc9b;
  cursor: default;
  border: none;
}
.stepper .tab-pane {
  position: relative;
  padding-top: 50px;
}
.stepper .round-tab {
  width: 25px;
  height: 25px;
  line-height: 22px;
  display: inline-block;
  border-radius: 25px;
  background: #fff;
  border: 2px solid #34bc9b;
  color: #34bc9b;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 14px;
}
.stepper .completed .round-tab {
  background: #34bc9b;
}
.stepper .completed .round-tab::after {
  content: '✔';
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  display: block;
}
.stepper .active .round-tab {
  background: #fff;
  border: 2px solid #34bc9b;
}
.stepper .active .round-tab:hover {
  background: #fff;
  border: 2px solid #34bc9b;
}
.stepper .active .round-tab::after {
  display: none;
}
.stepper .disabled .round-tab {
  background: #fff;
  color: #f1f1f1;
  border-color: #f1f1f1;
}
.stepper .disabled .round-tab:hover {
  color: #4dd3b6;
  border: 2px solid #a6dfd3;
}
.stepper .disabled .round-tab::after {
  display: none;
}
.ride-detail h4{
	border: solid 1px #00AFF5;
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 16px;
}
.ride-detail h4:hover{
	background:linear-gradient(45deg, #00AFF5, #337ab7);
	color: #fff!important;
	cursor: pointer;
}
.ride-box{
	padding:0 16px;
    margin: 0 1rem;
    bottom: 0px;
    left: 0;
}
.ride-box .tab-content{
	background-color: #fff;
	padding:20px 0;
	float: left;
	border-radius:4px;
	box-shadow: 0px 0px 7px #2929294f;	
}
.ride-box .nav-pills{
	margin-bottom: 20px;
    background: #00aff5a6;
    border-radius: 50px;
    padding: 6px;
    display: inline-flex;
    width: 100%;
}
.ride-box .nav-pills li{
	width: 50%;
}
.ride-box .nav-pills li a{
	color: #fff!important;
    border-radius: 60px!important;
    padding: 6px 0px;
    font-size: 14px!important;
    font-weight: 500!important;
    text-align: center;
}
.ride-box .nav-pills li a:hover{
	background: #337ab7;
}
.note{
	color: #cf882e!important;
	font-size: 14px!important;
	text-decoration: none!important;
}
.note:before {
    content: "\f05a";
    font-family: FontAwesome;
    margin-right: 4px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #00AFF5;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
#offerride .modal-dialog {
    width: 455px!important;
    margin:0!important;
    position: absolute;
    bottom: 0;
}
.offer-box .nav-pills li a{
	padding: 10px 75px;
    background: none;
    color: #868E96;
    border: solid 1px #868E96;
    margin: 20px 0;
    text-align: center;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 4px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #f8f8f8;
  border: 1px solid transparent;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.38);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.lnk-toggler{
	text-decoration: none!important;
}
.myrides.nav-tabs>li{
	width: 50%;
}
.myrides.nav-tabs li.active{
	border-bottom: solid 2px #04acf1;
}
.myrides.nav-tabs li a{
	color: #696969;
}
.myrides.nav-tabs li a:hover{
	background-color: transparent;
	border:none;
}
.myrides.nav-tabs li.active a{
	background-color: transparent!important;
	color: #000;
	border:none;
}
.myrides .nav-tabs>li+li{
	margin-left:0;
}
.offer-img{
	margin-bottom: 20px;
}
.offer-img img{
	width: 100%;
}
.payment.nav-tabs>li{
	width: 33.33%;
	text-align: center;
}
@media(max-width: 992px){
	#offerride .modal-dialog{
		width: 100%!important;
	}
	.offer-box .nav-pills li a{
		padding: 10px 50px!important;
	}
	.ride-box .nav-pills li a{
		padding:6px 20px!important;
	}
	.middle .box{
		padding: 2px 16px!important;
	}
	.sidebar{
		width: 100%!important;
	}
	.sidebar-footer {
		width: 100%!important;
	}
	::-webkit-scrollbar {
	  display: none;
	}
}
.verify-code input{
	padding: 0!important;
	text-align: center;
}
.sidebar{
	position: fixed;
    width: 33.33%;
    top: 0;
    background:linear-gradient(45deg, #00AFF5, #337ab7);
    left: 0;
    height: 40px;
    z-index: 500;

}
.sidebar-footer {
  position: fixed;
  width: 33.33%;
  bottom: 0;
  left: 0;
  display: flex;
  background:linear-gradient(45deg, #00AFF5, #337ab7);
  padding:4px 0;
  z-index: 2;
}
.page-title{
	margin: 0;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    color: #fff!important;
    font-size: 22px;
}
.ride-date{
	border: solid 1px #afafaf;
    vertical-align: middle;
    text-align: center;
}
.ride-details{
	text-align: left;
}
.ride-details h4{
	margin:0;
	margin-bottom: 10px;
}
.ride-details .cancel{
	color: red;
	font-size: 13px;
}
.ride-details .complete{
	color: green;
}
.ride-history{
	float: left;
	width: 100%;
	padding: 20px 0;
}
.item{
	margin-bottom: 30px;
	float: left;
	width: 100%;
}
.ride-history h3 i{
	font-size: 60px;
}
.more-dropdown .dropdown-menu{
	left: -125px;
	border: none;
}
.more-dropdown .dropdown-menu li a{
	padding: 10px 20px;
}
.wallet-item{
	margin-top: 20px;
    float: left;
    width: 100%;
}
.vehicle .car-icon i{
	font-size: 60px;
	color: #8B8B8B;
}
.vehicle .default-vehicle{
	background: #f78406;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
}
.contribute-item{
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
.help-item{
	float: left;
	width: 100%;
	padding:16px 0;
	border-bottom: solid 1px #eee;
}
.setting-item{
	padding: 14px 0;
    border-bottom: solid 1px #eee;
    font-size: 16px;
    float: left;
    width: 100%;
}
.setting-item a{
	text-decoration: none;
}
.setting-item i{
	color: #00AFF5;
    margin-right: 6px;
}
.setting-item p{
	margin: 0;	
}
.inner-page .back-arrow {
    font-size: 16px;
}
.apply-coupon{
	text-align: right;
    right: 6px;
    position: absolute;
    font-size: 14px;
    color: #fff!important;
    top: 12px;
    text-decoration: none!important;
}
.apply-coupon i{
	font-size: 20px;
}
.offering-seat .box{
	padding: 2px 30px!important;
}
.prev-step.small,.next-step.small{
	padding: 4px 10px;
}