.signup-steps {
    width: 500px;
    float: left;
    margin-left: 15px;
}

.stepper {
    margin: 5px 2px 5px 2px;
    color: black;
    
}
.break{
     padding-left: 10px;
     width: 90%;
     height: 20%;
    /* background-color: turquoise;  */
    border-top: 0px solid #8c8b8b; 
    background-color: rgb(221, 212, 212);
    color: rgb(202, 198, 198);
    position: relative;
   
}

input {
    width: 90%;
    margin-left: 0;
    
}
button {
    width: 90%;
}

.auth-title {
    margin-top: 30px;
    margin-bottom: 0;
}

.para-desc {
    margin-top:0;
    padding-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
}

.btn-primary {
    margin-top:0 ;
	border-color: #00AFF5!important;
    background: linear-gradient(45deg, #00AFF5, #337ab7);
}
.note{
	color: #cf882e!important;
	font-size: 14px!important;
	text-decoration: none!important;
}
.note:before {
    /* content: "\f05a"; */
    font-family: FontAwesome;
    margin-right: 4px;
}
.font-awesome-circle{
    color: #cf882e!important;

}

.auth-title__ride{
    margin-top: 0;
    padding-top: 0;
}

.ride-detail{

    padding-top: 8px ;
    
}

.ride-car  {
    background : transparent;
    border: solid 1px #00AFF5;
    border-radius: 50px;
    color:  #00AFF5;
    padding-top: 12px ;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
}

.prev-step,.next-step{
    padding-top: 20px; 
    width: 20%;
   
}

.prev-btn, .next-btn {
    border-radius:  8px;
}
.prev-step {
    float: left;
    margin-left: 250px;
}
.next-step {
    float: right;
    margin-right: 40px
}