.signup-steps {
    width: 500px;
    float: left;
    margin-left: 15px;
}

.stepper {
    margin: 5px 2px 5px 2px;
    color: black;
    
}
.break{
     padding-left: 10px;
     width: 90%;
     height: 20%;
    /* background-color: turquoise;  */
    border-top: 0px solid #8c8b8b; 
    background-color: rgb(221, 212, 212);
    color: rgb(202, 198, 198);
    position: relative;
   
}

input {
    width: 90%;
    margin-left: 0;
    
}
button {
    width: 90%;
}

.auth-title {
    margin-top: 30px;
    margin-bottom: 0;
}

.para-desc {
    margin-top:0;
    padding-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
}

.btn-primary {
    margin-top:0 ;
	border-color: #00AFF5!important;
    background: linear-gradient(45deg, #00AFF5, #337ab7);
}
.note{
	color: #cf882e!important;
	font-size: 14px!important;
	text-decoration: none!important;
}
.note:before {
    /* content: "\f05a"; */
    font-family: FontAwesome;
    margin-right: 4px;
}
.font-awesome-circle{
    color: #cf882e!important;

}

.auth-title__ride{
    margin-top: 0;
    padding-top: 0;
}

.ride-detail{

    padding-top: 8px ;
    
}

.ride-car  {
    background : transparent;
    border: solid 1px #00AFF5;
    border-radius: 50px;
    color:  #00AFF5;
    padding-top: 12px ;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
}

.prev-step,.next-step{
    padding-top: 20px; 
    width: 20%;
   
}

.prev-btn, .next-btn {
    border-radius:  8px;
}
.prev-step {
    float: left;
    margin-left: 250px;
}
.next-step {
    float: right;
    margin-right: 40px
}
.avatar-img {
   /* border-radius: 50px; */
   width: 200px;
   height: 200px;
   border-radius: 50px;
   margin-left: 60px;
   margin-top: 0px;
   margin-bottom: 30px;
   /* float: left;  */
}

.avatar-edit {
    float: right;
    width: 1px;
    height: 1px;
    margin-bottom: 0px;
    /* border-radius: 20px; */
}

.avtar-upload{
    
    margin-top: 0;
    padding-top: 0;
    width: 60px;
    height: 10px;
}

 .fileContainer {
    width: 450px;
    height: 300px;
    border-radius: 50px;
    background:red;
    
}
/*

.chooseFileButton {
    padding: 0;
    margin: 0;
    color: red;
}

.fileUploader{
    padding: 0;
    margin: 0;
}


.fileContainer .chooseFileButton {
    padding: 0;
    margin: 0;
    
} */

.fileContainer .uploadPictureContainer img.uploadPicture {
    border-radius: 50px;
    width: 1050%;
}
.accept-img{
    width: 100px;
    margin-left: 340px;
    background: #00AFF5 ;
    border-radius: 8px;
}
.img-upld{
    /* color:red; */
    width:20px;
    
}

.authfy-heading-verify{
    margin-left: 8px;
}

.text-otp{
    width: 50px;
   
}

.text-otp-input{
    float: left;
}
.text-otp-input1{
    float: right;
}

.otpIp{
    background: rgb(243, 243, 247);
   width: 300px;
   height: 100px;
   padding: 0;
   margin: 10px
}

.offer-car__btn{
    width: 44%;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 7px;
     color: #868E96;
    border: solid 1px #c2c6c9; 
    margin-bottom: 20px;
   
}
.offer-car__btn:hover {
 
    border-color: #00AFF5!important;
    background: linear-gradient(45deg, #00AFF5, #337ab7);
    color: white;
}
.offer-ride__body{
    margin-left: 22px;
    
}

.car-type{
    
    display: block;
    width: 90%;
    height: 55px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.modal-btn{
    border-radius: 5px;
    margin-top: 15px;
}